[submodule "vendor/effect"]
	path = vendor/effect
	url = https://github.com/Effect-TS/effect.git
	shallow = true
[submodule "vendor/expo"]
	path = vendor/expo
	url = https://github.com/expo/expo.git
	branch = main
	shallow = true
